body {
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
  font-family: Roboto;
  color: rgb(103, 103, 103);
}

a {
  font-family: Roboto;
  text-decoration: none;
  color: rgb(57, 122, 226);
}

a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(227, 212, 174);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(238, 232, 203);
}

.content {
  display: block; /* Show content by default */
}

.error-message {
  display: none; /* Hide message by default */
}

/* Media query for small screens */
@media (max-width: 932px) {
  .content {
      display: none; /* Hide content on small screens */
  }

  .error-message {
      display: block; /* Show message on small screens */
  }
}

.error-message {
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  border: 1px solid #f5c6cb; /* Light red border */
  border-radius: 5px; /* Rounded corners */
  padding: 15px; /* Padding around the text */
  margin: 20px; /* Margin above and below the message */
  font-family: Arial, sans-serif; /* Font style */
  font-size: 16px; /* Font size */
  text-align: center; /* Center text */
}